<tr data-no="<%=data.no %>">
	<td><%=listCount %></td>
	<td><%=data.name %></td>
	<td>0</td>
	<td>-</td>
	<td>
		<img class="btn-cat-del" src='<%=path %>/assets/images/delete.jpg' alt='삭제' data-no='<%=data.no %>' data-count='0'>
	</td>
</tr>